    @charset "UTF-8";
     :root {
        --color_one: rgba(58, 70, 96, 1);
        --color_two: rgba(194, 221, 230, 1);
        --color_three: rgba(201, 175, 152, 1);
        --color_four: rgba(237, 138, 99, 1);
        --color_five: rgba(132, 80, 7, 1);
        --color_six: rgba(58, 70, 96, 0.8);
        --color_seven: rgba(237, 138, 99, 0.5);
        --topbar: rgba(237, 138, 99, 0.7);
        --topbar_shade: rgba(237, 138, 99, 0.5);
    }
    /* Fonts*/
    
    @font-face {
        font-family: 'Nilland';
        font-style: normal;
        font-weight: normal;
        src: url('../fonts/Nilland.ttf') format('ttf');
    }
    
    @font-face {
        font-family: 'Nilland-Bold';
        font-style: normal;
        font-weight: normal;
        src: url('../fonts/Nilland-Bold.ttf') format('ttf');
    }
    
    @font-face {
        font-family: 'Nilland-SmallCaps';
        font-style: normal;
        font-weight: normal;
        src: url('../fonts/Nilland-SmallCaps.ttf') format('ttf');
    }
    
    @font-face {
        font-family: 'Nilland-ExtraBold';
        font-style: normal;
        font-weight: normal;
        src: url('../fonts/Nilland-ExtraBold.ttf') format('ttf');
    }
    
    @font-face {
        font-family: 'Nilland-Black';
        font-style: normal;
        font-weight: normal;
        src: url('../fonts/Nilland-Black.ttf') format('ttf');
    }
    
    @font-face {
        font-family: 'Nilland-SmallCaps-Bold';
        font-style: normal;
        font-weight: normal;
        src: url('../fonts/Nilland-SmallCaps-Bold.ttf') format('ttf');
    }
    /*      Body         */
    
    body {
        font-family: 'Nilland';
        margin: 0;
        height: 100vh;
    }
    
    .grid-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .topbar {
        height: 6%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-image: linear-gradient(var(--topbar), var(--topbar));
    }
    
    .icon-bar {
        flex: 1;
        font-size: 1.7em;
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        color: var(--color_one);
        margin-top: 0.4em;
    }
    
    .icon-bar a:hover {
        color: var(--color_one) !important;
    }
    
    .nav_wrapper {
        height: 10%;
        width: 100%;
        background: var(--color_three);
    }
    
    header {
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70px;
    }
    
    .brand {
        font-size: 2em;
        font-family: 'Nilland-Bold';
        color: var(--color_one);
        flex: 1;
        text-align: center;
        margin: 15px;
    }
    
    .brand a {
        text-decoration: none;
    }
    
    nav {
        flex: 1;
    }
    
    ul {
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        margin: 0px;
    }
    
    li {
        margin: 20px;
        font-family: 'Nilland-Bold';
        font-size: 1.1em;
    }
    
    li a {
        color: var(--color_one);
        text-decoration: none;
    }
    
    li a:hover {
        text-decoration: none;
        color: var(--color_four);
    }
    
    .icon-bar a:hover {
        background-color: #000;
        /* Add a hover color */
    }
    
    .active {
        background-color: rgba(43, 167, 168, 1);
        /* Add an active/current color */
    }
    
    .stickers {
        text-align: center;
    }
    
    #show {
        flex: 1;
        width: 100%;
        text-align: center;
        background-image: linear-gradient(var(--color_six), var(--color_seven)), url("../../img/analog-antique-camera-821653.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        display: flex;
    }
    
    #formshow {
        flex: 1;
        width: 100%;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    
    #forgotshow {
        flex: 1;
        width: 100%;
        text-align: center;
        background-image: linear-gradient(var(--color_six), var(--color_seven)), url("../../img/analogue-aperture-black-and-white-1203819.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        display: flex;
    }
    
    .hero-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    
    .hero-header {
        height: 15%;
        color: var(--color_four);
        font-family: 'Nilland';
        font-size: 4em;
    }
    
    .content_wrapper {
        height: 5%;
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    .hero-text {
        order: 1;
        color: var(--color_four);
        font-size: 1.8em;
    }
    
    .wrapper1 a {
        color: var(--color_two);
        text-decoration: none;
    }
    
    .camera {
        display: flex;
        height: 100%;
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    video {
        margin: 1em;
    }
    
    .canvas_wrapper {
        display: flex;
        flex: row-reverse;
    }
    
    canvas {
        width: 90%;
        margin: 1em;
    }
    
    #pastposts {
        width: 90%;
        background: var(--color_six);
    }
    
    .footer {
        grid-area: footer;
        background: var(--color_four);
        color: var(--color_six);
        font-size: 0.7em;
    }
    
    .details {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-items: center;
    }
    
    .details i {
        color: var(--color_three);
    }
    /* modal  */
    
    .wrapper3 {
        position: absolute;
        left: 27%;
        width: 73%;
        min-height: 78.3%;
        background-image: linear-gradient(var(--color_six), var(--color_seven)), url("../../img/blur-camera-camera-lens-752525.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .wrapper2 {
        position: absolute;
        left: 0%;
        width: 27%;
        height: 78.3%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .wrapper1 {
        position: absolute;
        left: 22%;
        top: 18%;
        width: 57%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .button {
        cursor: pointer;
        position: relative;
        z-index: 2;
        -webkit-appearance: none;
        background: none;
        outline: none;
        border: none;
        text-transform: uppercase;
        letter-spacing: 3px;
        border-radius: 2px;
        transition: all 0.5s ease;
        font-weight: 600;
        font-size: 14px;
        height: 60px;
        width: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 0 white, 0 0 0 white;
        left: 1%;
        top: 1%;
    }
    
    .popup {
        opacity: 1;
        width: 58%;
        height: 100%;
        flex-shrink: 0;
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease
    }
    
    .popup-inside {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 0 black;
    }
    
    .content {
        --offset: 0;
        position: absolute;
        left: var(--offset);
        right: var(--offset);
        bottom: var(--offset);
        top: var(--offset);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: all 0.35s ease 0.75s;
        z-index: 10;
    }
    
    .update {
        font-family: 'Nilland-SmallCaps-Bold' !important;
        top: 16%;
        color: var(--color_one);
        position: absolute;
        width: 100%;
        height: 54%;
        padding-top: 7em;
        background: var(--topbar);
    }